<div class="main-container">

<div class="side-by-side">
  <form action="/games/new" method="get">
    <button type="submit" class="btn btn-warning">Play New Game</button>
  </form>
</div>

<div class="side-by-side">
  <form action="/games" method="get">
    <button type="submit" class="btn btn-warning">View Game History</button>
  </form>
</div>

</div>
