html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
      box-sizing: inherit;
    }


html {
    background-color: #03B8AF;
  }

  .main-container {
      background-color: #03B8AF;
        margin:auto;
      }

.ttt-title {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  background-color: #03B8AF;
}

.side-by-side {
  width: 45%;
  margin: 20px;
  float: left;
  margin-top: 100px;
  text-align: center;
}

.btn.btn-warning {
  height: 100px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}


.games-container {
  width: 80%;
  margin: auto;
}

table {
    margin: auto;
    margin-top: 50px;
}

td {
  background-color: #505050;
  width: 80px;
  height: 80px;
  text-align: center;
  border-style: solid;
  border-color: gray;
}

.board-size-container {
  width: 50%;
  text-align: left;
  margin: auto;
}

#board-size {
  font-weight: bold;
}

.board-size-selection {
  text-align: center;
}

.form-title {
  text-decoration: underline;;
}

.board-size-details {
  font-size: 15px;
}

#board-size-title {
  width: 18%;
  display: inline-block;
}

input {
  margin-top: 10px;
}

.player-details {
  width: 50%;
  float: left;
  margin-top: 20px;
}

.submit-button {
  margin-top: 200px;
}

input.spot-link {
  background-color: #505050;
  color: #505050;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}

h3#game-over {
  text-align: center;
}

#home-button {
  text-align: center;
}
